Building a recommendation system that predicts the binary outcome of whether the user will like the movie or not, by leveraging AutoEncoders. 

Datasets are taken from https://grouplens.org/datasets/movielens/

## Data Preprocessing

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
# Importing the datasets
movies = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [3]:
movies.head(15)

     0                                   1                             2
0    1                    Toy Story (1995)   Animation|Children's|Comedy
1    2                      Jumanji (1995)  Adventure|Children's|Fantasy
2    3             Grumpier Old Men (1995)                Comedy|Romance
3    4            Waiting to Exhale (1995)                  Comedy|Drama
4    5  Father of the Bride Part II (1995)                        Comedy
5    6                         Heat (1995)         Action|Crime|Thriller
6    7                      Sabrina (1995)                Comedy|Romance
7    8                 Tom and Huck (1995)          Adventure|Children's
8    9                 Sudden Death (1995)                        Action
9   10                    GoldenEye (1995)     Action|Adventure|Thriller
10  11      American President, The (1995)          Comedy|Drama|Romance
11  12  Dracula: Dead and Loving It (1995)                 Comedy|Horror
12  13                        Balto (1995)          Animation|Children's
13  14                        Nixon (1995)                         Drama
14  15             Cutthroat Island (1995)      Action|Adventure|Romance

In [4]:
movies.shape

(3883, 3)

In [5]:
# Importing the datasets
users = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [6]:
users.shape

(6040, 5)

In [7]:
users.head(10)

    0  1   2   3      4
0   1  F   1  10  48067
1   2  M  56  16  70072
2   3  M  25  15  55117
3   4  M  45   7  02460
4   5  M  25  20  55455
5   6  F  50   9  55117
6   7  M  35   1  06810
7   8  M  25  12  11413
8   9  M  25  17  61614
9  10  F  35   1  95370

Description of Data:  
0 --> User ID  
1 --> Gender  
2 --> Age  
3 --> Occupation  
4 --> Zip Code

In [8]:
# Importing the datasets
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings.shape

(1000209, 4)

In [9]:
ratings.head(10)

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291
5  1  1197  3  978302268
6  1  1287  5  978302039
7  1  2804  5  978300719
8  1   594  4  978302268
9  1   919  4  978301368

Descrption of the Data:  
0 --> Corresponds to the user ID   
1 --> Corresponds to the movie ID  
2 --> Ratings from 1-5  
3 --> Timestamps

In [10]:
# Preparing the training set and the test set
training_set = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ml-100k/u1.base', delimiter = '\t')

In [11]:
training_set.head()

   1  1.1  5  874965758
0  1    2  3  876893171
1  1    3  4  878542960
2  1    4  3  876893119
3  1    5  3  889751712
4  1    7  4  875071561

In [12]:
training_set.shape

(79999, 4)

In [13]:
training_set = np.array(training_set, dtype = 'int')

In [14]:
test_set = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [15]:
# Getting the total no.of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_users

943

In [16]:
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_movies

1682

In [17]:
# Converting he data into an array with users in lines and movies in columns
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1][data[:, 0] == id_users] 
    id_ratings = data[:, 2][data[:, 0] == id_users] 
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data

training_set = convert(training_set)

In [18]:
test_set = convert(test_set)

In [19]:
print(pd.DataFrame(training_set).head())

   0     1     2     3     4     5     ...  1676  1677  1678  1679  1680  1681
0   0.0   3.0   4.0   3.0   3.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1   4.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 1682 columns]

In [20]:
print(pd.DataFrame(test_set).head())

   0     1     2     3     4     5     ...  1676  1677  1678  1679  1680  1681
0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4   4.0   3.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 1682 columns]

In [21]:
# Converting the data into torch tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [22]:
training_set.shape

torch.Size([943, 1682])

## Creating the architecture of the Neural Network

In [23]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
        
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training the SAE

In [24]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.7717)
epoch: 2loss: tensor(1.0965)
epoch: 3loss: tensor(1.0534)
epoch: 4loss: tensor(1.0382)
epoch: 5loss: tensor(1.0309)
epoch: 6loss: tensor(1.0265)
epoch: 7loss: tensor(1.0238)
epoch: 8loss: tensor(1.0219)
epoch: 9loss: tensor(1.0208)
epoch: 10loss: tensor(1.0195)
epoch: 11loss: tensor(1.0188)
epoch: 12loss: tensor(1.0185)
epoch: 13loss: tensor(1.0177)
epoch: 14loss: tensor(1.0175)
epoch: 15loss: tensor(1.0171)
epoch: 16loss: tensor(1.0172)
epoch: 17loss: tensor(1.0169)
epoch: 18loss: tensor(1.0165)
epoch: 19loss: tensor(1.0163)
epoch: 20loss: tensor(1.0161)
epoch: 21loss: tensor(1.0162)
epoch: 22loss: tensor(1.0160)
epoch: 23loss: tensor(1.0157)
epoch: 24loss: tensor(1.0158)
epoch: 25loss: tensor(1.0156)
epoch: 26loss: tensor(1.0155)
epoch: 27loss: tensor(1.0154)
epoch: 28loss: tensor(1.0154)
epoch: 29loss: tensor(1.0126)
epoch: 30loss: tensor(1.0117)
epoch: 31loss: tensor(1.0094)
epoch: 32loss: tensor(1.0092)
epoch: 33loss: tensor(1.0043)
epoch: 34loss: tensor(1.0046)
epoch: 35loss: tensor(1.0010)
epoch: 36loss: tensor(1.0013)
epoch: 37loss: tensor(0.9976)
epoch: 38loss: tensor(0.9975)
epoch: 39loss: tensor(0.9951)
epoch: 40loss: tensor(0.9915)
epoch: 41loss: tensor(0.9913)
epoch: 42loss: tensor(0.9915)
epoch: 43loss: tensor(0.9887)
epoch: 44loss: tensor(0.9885)
epoch: 45loss: tensor(0.9870)
epoch: 46loss: tensor(0.9862)
epoch: 47loss: tensor(0.9853)
epoch: 48loss: tensor(0.9784)
epoch: 49loss: tensor(0.9739)
epoch: 50loss: tensor(0.9709)
epoch: 51loss: tensor(0.9705)
epoch: 52loss: tensor(0.9722)
epoch: 53loss: tensor(0.9699)
epoch: 54loss: tensor(0.9692)
epoch: 55loss: tensor(0.9690)
epoch: 56loss: tensor(0.9724)
epoch: 57loss: tensor(0.9659)
epoch: 58loss: tensor(0.9648)
epoch: 59loss: tensor(0.9611)
epoch: 60loss: tensor(0.9619)
epoch: 61loss: tensor(0.9585)
epoch: 62loss: tensor(0.9595)
epoch: 63loss: tensor(0.9569)
epoch: 64loss: tensor(0.9583)
epoch: 65loss: tensor(0.9550)
epoch: 66loss: tensor(0.9544)
epoch: 67loss: tensor(0.9517)
epoch: 68loss: tensor(0.9520)
epoch: 69loss: tensor(0.9489)
epoch: 70loss: tensor(0.9505)
epoch: 71loss: tensor(0.9473)
epoch: 72loss: tensor(0.9484)
epoch: 73loss: tensor(0.9451)
epoch: 74loss: tensor(0.9472)
epoch: 75loss: tensor(0.9422)
epoch: 76loss: tensor(0.9455)
epoch: 77loss: tensor(0.9403)
epoch: 78loss: tensor(0.9425)
epoch: 79loss: tensor(0.9396)
epoch: 80loss: tensor(0.9414)
epoch: 81loss: tensor(0.9393)
epoch: 82loss: tensor(0.9412)
epoch: 83loss: tensor(0.9381)
epoch: 84loss: tensor(0.9389)
epoch: 85loss: tensor(0.9368)
epoch: 86loss: tensor(0.9378)
epoch: 87loss: tensor(0.9358)
epoch: 88loss: tensor(0.9377)
epoch: 89loss: tensor(0.9351)
epoch: 90loss: tensor(0.9362)
epoch: 91loss: tensor(0.9351)
epoch: 92loss: tensor(0.9357)
epoch: 93loss: tensor(0.9339)
epoch: 94loss: tensor(0.9350)
epoch: 95loss: tensor(0.9334)
epoch: 96loss: tensor(0.9344)
epoch: 97loss: tensor(0.9325)
epoch: 98loss: tensor(0.9337)
epoch: 99loss: tensor(0.9316)
epoch: 100loss: tensor(0.9332)
epoch: 101loss: tensor(0.9317)
epoch: 102loss: tensor(0.9323)
epoch: 103loss: tensor(0.9312)
epoch: 104loss: tensor(0.9318)
epoch: 105loss: tensor(0.9305)
epoch: 106loss: tensor(0.9314)
epoch: 107loss: tensor(0.9302)
epoch: 108loss: tensor(0.9308)
epoch: 109loss: tensor(0.9294)
epoch: 110loss: tensor(0.9302)
epoch: 111loss: tensor(0.9291)
epoch: 112loss: tensor(0.9301)
epoch: 113loss: tensor(0.9287)
epoch: 114loss: tensor(0.9289)
epoch: 115loss: tensor(0.9280)
epoch: 116loss: tensor(0.9291)
epoch: 117loss: tensor(0.9278)
epoch: 118loss: tensor(0.9285)
epoch: 119loss: tensor(0.9272)
epoch: 120loss: tensor(0.9279)
epoch: 121loss: tensor(0.9268)
epoch: 122loss: tensor(0.9277)
epoch: 123loss: tensor(0.9264)
epoch: 124loss: tensor(0.9270)
epoch: 125loss: tensor(0.9262)
epoch: 126loss: tensor(0.9270)
epoch: 127loss: tensor(0.9255)
epoch: 128loss: tensor(0.9261)
epoch: 129loss: tensor(0.9252)
epoch: 130loss: tensor(0.9259)
epoch: 131loss: tensor(0.9247)
epoch: 132loss: tensor(0.9252)
epoch: 133loss: tensor(0.9241)
epoch: 134loss: tensor(0.9246)
epoch: 135loss: tensor(0.9238)
epoch: 136loss: tensor(0.9243)
epoch: 137loss: tensor(0.9233)
epoch: 138loss: tensor(0.9236)
epoch: 139loss: tensor(0.9227)
epoch: 140loss: tensor(0.9232)
epoch: 141loss: tensor(0.9222)
epoch: 142loss: tensor(0.9228)
epoch: 143loss: tensor(0.9217)
epoch: 144loss: tensor(0.9229)
epoch: 145loss: tensor(0.9214)
epoch: 146loss: tensor(0.9219)
epoch: 147loss: tensor(0.9210)
epoch: 148loss: tensor(0.9217)
epoch: 149loss: tensor(0.9206)
epoch: 150loss: tensor(0.9216)
epoch: 151loss: tensor(0.9202)
epoch: 152loss: tensor(0.9209)
epoch: 153loss: tensor(0.9200)
epoch: 154loss: tensor(0.9209)
epoch: 155loss: tensor(0.9197)
epoch: 156loss: tensor(0.9203)
epoch: 157loss: tensor(0.9193)
epoch: 158loss: tensor(0.9196)
epoch: 159loss: tensor(0.9189)
epoch: 160loss: tensor(0.9193)
epoch: 161loss: tensor(0.9185)
epoch: 162loss: tensor(0.9188)
epoch: 163loss: tensor(0.9180)
epoch: 164loss: tensor(0.9185)
epoch: 165loss: tensor(0.9177)
epoch: 166loss: tensor(0.9180)
epoch: 167loss: tensor(0.9173)
epoch: 168loss: tensor(0.9182)
epoch: 169loss: tensor(0.9173)
epoch: 170loss: tensor(0.9178)
epoch: 171loss: tensor(0.9163)
epoch: 172loss: tensor(0.9171)
epoch: 173loss: tensor(0.9163)
epoch: 174loss: tensor(0.9170)
epoch: 175loss: tensor(0.9163)
epoch: 176loss: tensor(0.9166)
epoch: 177loss: tensor(0.9158)
epoch: 178loss: tensor(0.9166)
epoch: 179loss: tensor(0.9159)
epoch: 180loss: tensor(0.9164)
epoch: 181loss: tensor(0.9156)
epoch: 182loss: tensor(0.9160)
epoch: 183loss: tensor(0.9150)
epoch: 184loss: tensor(0.9156)
epoch: 185loss: tensor(0.9147)
epoch: 186loss: tensor(0.9153)
epoch: 187loss: tensor(0.9147)
epoch: 188loss: tensor(0.9152)
epoch: 189loss: tensor(0.9141)
epoch: 190loss: tensor(0.9153)
epoch: 191loss: tensor(0.9143)
epoch: 192loss: tensor(0.9143)
epoch: 193loss: tensor(0.9134)
epoch: 194loss: tensor(0.9144)
epoch: 195loss: tensor(0.9137)
epoch: 196loss: tensor(0.9142)
epoch: 197loss: tensor(0.9135)
epoch: 198loss: tensor(0.9142)
epoch: 199loss: tensor(0.9133)
epoch: 200loss: tensor(0.9138)

## Testing the Neural Network

In [26]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('loss: '+ str(test_loss/s))

loss: tensor(0.9535)